<h1>
    List Your Insurance!
</h1>
<div class="right_b">
    <span>Post your request of the property.</span>
    <br />
    <br />
</div>


<!-- Row start -->
<div id="showNotification" class="alert alert-success hide" role="alert">
    <strong>
        Well done! Your propery request have been saved successfully.
        <a href="#" class="alter-link">
            View Your Policy here
        </a>
    </strong>
</div>
@*<div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a class="" href="#" style="width: 100px; font-size: small; font-weight: bold;color: blue">View Your Policy</a>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-12 col-sm-11 col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading  clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">What is your address?</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Address 1</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Street address" data-bind="value: model().address1">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Address 2</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="Apartment, suite, unit, building, floor etc." data-bind="value: model().address2">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">City</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="City" data-bind="value: model().city">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">State</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="State" data-bind="value: model().state">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Locality</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Location" data-bind="value: model().locality">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Zip / Postal Code</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Zip" data-bind="value: model().zip">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Country</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Country" data-bind="value: model().country">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">SSN</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="SSN" data-bind="value: model().ssn">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Row end -->
<!-- Row start -->
<div class="row">
    <div class="col-md-12 col-sm-11 col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">About Your Place</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <label for="InputName">Title</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Headline for your listing" data-bind="value: model().name">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-11">
                        <label for="InputMessage">Description</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="3" cols="150" placeholder="Describe your place" data-bind="value: model().description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Bedrooms</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="No of Bedroom" data-bind="value: model().bedrooms">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Beds</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="No of beds" data-bind="value: model().beds">
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Accomodates</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="No of person" data-bind="value: model().accomodates">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Property Type</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="Apartment/ House" data-bind="value: model().type">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Row end -->
<div class="row">
    <div class="col-md-12 col-sm-11 col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Basic Pricing</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">From Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="date" name="InputName" id="InputName" class="form-control" placeholder="" data-bind="value: model().fromDate">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">To Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="date" name="InputName" id="InputName" class="form-control" placeholder="" data-bind="value: model().toDate">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Nightly</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="" data-bind="value: model().nightPrice">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <label for="InputName">Weekly</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="InputName" id="InputName" class="form-control" placeholder="" data-bind="value: model().weekPrice">
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<!-- Row start -->
<div class="row">
    <div class="col-md-12 col-sm-11 col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Amenities</h3>
            </div>

            <div class="panel-body">
                <div class="row">


                    <div class="col-md-3 col-sm-3">
                        <div class="input-group">
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isPetsAllowed">Pets Allowed
                            </label>
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isWifiAvailable">Wireless Internet Connection
                            </label>
                        </div>

                    </div>


                    <div class="col-md-3 col-sm-3">

                        <div class="input-group">
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isACAvailable">Air conditioning
                            </label>
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isLiftAvailable">Elevator in building
                            </label>
                        </div>

                    </div>


                    <div class="col-md-3 col-sm-3">

                        <div class="input-group">
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isPrivatePool">Private pool
                            </label>
                            <label>
                                <input type="checkbox" value="" data-bind="checked: model().isBuzzer">Buzzer/ Wireless Intercom
                            </label>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- Row end -->
    <!-- Row start -->
    <!-- Row end -->
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" data-bind="click: add">Submit</button>
        <button id="singlebutton" name="singlebutton" class="btn btn-warning">Cancel</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        debugger;
        var requestId = @ViewBag.RequestId;

        $(document).ready(function () {
            debugger;
            var viewModel = new ClaimRequestViewModel(requestId);
            ko.applyBindings(viewModel);

        });
    </script>
}